.App{
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  
  background-color: #ebfada;
}



.main-panel{
  position: absolute;
  width: 1000px;
  left: 200px;
  top:40vh;
  padding: 10px 10px 10px 10px
}

.overlay{
  position: absolute;
  z-index: 200;
  margin-left: -58px;
  scale: 0.35;
  top:-700px;
  pointer-events: none;
}

.swiper-button-next{
  color:black;

}

.panel{
  width: 100vw;
}

.unclickable{
  pointer-events: none;
}

.price{
  position: absolute;
  bottom: 0px;
  right: 50px;
}


.cart{
  position: absolute;
  bottom: 20px;
  right:40vw
}