.App{
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}



.main-panel{
  position: absolute;
  width: 60vw;
  left: 20vw;
  top:40vh;
}

.overlay{
  position: absolute;
  z-index: 200;
  scale: 0.4;
  top:-700px;
  pointer-events: none;
}


.panel{
  width: 100vw;
}

.unclickable{
  pointer-events: none;
}

.price{
  position: absolute;
  bottom: 20px;
  right: 50px;
}


.cart{
  position: absolute;
  bottom: 20px;
  right:40vw
}