.App{
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}



.main-panel{
  position: absolute;
  width: 80vw;
  left: 10vw;
  top:30vh
}

.panel{
  width: 100vw;
}

.unclickable{
  pointer-events: none;
}

.price{
  position: absolute;
  bottom: 20px;
  right: 50px;
}


.cart{
  position: absolute;
  bottom: 20px;
  right:40vw
}